<footer id="my-footer">
  <div class="container-fluid">
    <a class="btn" href="https://www.instagram.com/abdo_abuharrus/" target="_blank">
      <i class="fa-brands fa-lg fa-instagram"></i></a>
    <a class="btn" href="https://www.facebook.com/Abdulqadir.Abuharrus/" target="_blank">
      <i class="fa-brands fa-lg fa-facebook"></i></a>
    <a class="btn" href="https://www.linkedin.com/in/aabuharrus/" target="_blank">
      <i class="fa-brands fa-lg fa-linkedin"></i></a>
    <p>© Copyright Outsourcers</p>
  </div>
</footer>