<nav class="navbar navbar-lg-expand navbar-light-outline sticky-top">
    <a class="navbar-brand" href="/">Code Goals</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <!-- THESE ITEMS ARE PLACEHOLDERS -->
                <a class="nav-link" href="/">Home</a>
            </li>
            <li>
                <a class="nav-link" href="/#about-section">About</a>
            </li>
            <li>
                <a class="nav-link" href="/gallery">Gallery</a>
            </li>
            <li>
                <a class="nav-link" href="/#contact-section">Contact</a>
            </li>
            <li>
                <a class="nav-link" href="#">Lorem Ipsum</a>
            </li>
        </ul>
    </div>
</nav>