/* form styles */
.language-group label{
    margin: none;
}
.language-group {
    display: flex;
    justify-content: space-evenly;
}
textarea {
    border-radius: 15px !important;
}
/* main page styles */
body{
    background-color: #F5F5F5 ;
    font-family: 'Century Gothic';
}


/* Navbar Stuff */
nav{
    background-color: #232931;
    margin-bottom: 5%;

}
.navbar-brand{
    margin: 0 2%;
    color: #66BFBF;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.1cap;
}
.navbar-brand:hover{
    color: #FF065B;
 }

/* Welcome banner stuff */

#welcome-banner{
    text-align: center;
    margin-bottom: 5%;
}