/* form styles */
.language-group label{
    margin: none;
}
.language-group {
    width: 45%;
    display: flex;
    justify-content: space-between;
}
textarea {
    border-radius: 15px !important;
}
form {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    width: 70%;
    margin: auto;
}
input[type="button"] {
    border-radius: 15px;
}
input[type="text"] {
    width: 125px;
    border-radius: 15px;
    border: 1px solid lightgray;
}
/* main page styles */
body{
    background-color: #F5F5F5 ;
    font-family: 'Century Gothic', 'Futura';
    /* font-size: 1.2rem; */
    font-size: 30px;
}


/* Navbar Stuff */
nav{
    background-color: #232931;
}
.navbar-brand{
    margin: 0 2%;
    color: #66BFBF;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: -0.1cap;
}

#welcome-txt{
    font-size: 4rem;
}

.navbar-brand:hover{
    color: #FF065B;
 }

 .navbar-togl-icon{
    width: 10%;
 }
/* Welcome banner stuff */

#welcome-banner{
    margin-bottom: 5%;
    padding: 3%;
    color: #F5F5F5;
    background-image: url("/images/Landing-blue.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
#welcome-txt{
    color: #FF065B;
}



/* Index Stuff */

#about-section{
    border: 1px solid #66BFBF;
    border-radius: 15px;
    padding: 5%;
    margin: 10% 12%;
}
.about-box{
    text-align: center;
    padding: 1rem;
}

/* Bubbles Stuff */
#bubbles {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }
