/* form styles */
.language-group label {
    margin: none;
}

.language-group {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

textarea {
    border-radius: 15px !important;
}

form {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    width: 70%;
    margin: auto;
}

input[type="button"] {
    border-radius: 15px;
}

input[type="text"] {
    width: 125px;
    border-radius: 15px;
    border: 1px solid lightgray;
}

/* main page styles */
body {
    font-family: 'Century Gothic', 'Futura';
    /* font-size: 1.2rem; */
}


/* Navbar Stuff */
nav {
    background-color: #2C394B;
}

.navbar-brand {
    margin: 0 2%;
    color: #66BFBF;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: -0.1cap;
}

#welcome-txt {
    font-size: 4rem;
}

.navbar-brand:hover {
    color: #FF065B;
}

.navbar-togl-icon {
    width: 10%;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}

.blue {
    color: #66BFBF;
}

span.size-48 {
    font-size: 48px;
    font-variation-settings: 'OPSZ' 48;
}

/* Welcome banner stuff */

#welcome-banner {
    height: 80vh;
    min-height: 500px;
    margin-bottom: 5%;
    color: #F5F5F5;
    background-image: url("/images/Landing-blue.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-content {
    margin: 5% 7%;
}

#welcome-txt {
    color: #FF065B;
}

.landing-background {
    background-image: url("/images/Landing-blue.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.btn-primary {
    background-color: #FF065B;
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: -0.1cap;
    padding: 1rem 2rem;
    margin: 1rem 0;
}

.btn-primary:hover {
    background-color: #66BFBF;
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: -0.1cap;
    padding: 1rem 2rem;
    margin: 1rem 0;
}


/* Index Stuff */

#intro-section {
    border: 1px solid #66BFBF;
    border-radius: 15px;
    margin: 5% 12%;
    font-size: 1.2rem;
}

.intro-img {
    width: 80%;
}

.index-body {
    background-color: #2C394B;
    color: #F5F5F5;
    font-size: 1.2rem;
}



/* Bubbles Stuff */
#bubbles {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 80px;
    left: 0;
}



#chris-python {
    width: 100%;
    height: 100vh;
    min-height: 500px;
    margin-bottom: 5%;
    color: #F5F5F5;
    background-image: url("/images/green-tree-python-python-tree-python-green-45246.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

#grace {
    padding: 15px;
}